.footer__link {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s;
}

.footer__link:hover {
    opacity: .8;
    transition: .3s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__link {
        max-width: 720px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}