.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: minmax(440px, auto) minmax(456px, auto);
        margin-bottom: 80px;
        column-gap: 32px;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: minmax(340px, auto) minmax(352px, auto);
        margin-bottom: 73px;
        column-gap: 28px;
    }
}

@media screen and (min-width:320px) and (max-width: 767px) {
    .place {
        grid-template-columns: minmax(auto, 1fr);
        margin-bottom: 50px;
        column-gap: 0;
        row-gap: 32px;
    }
}